* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.header-nav{
    background-color: aqua;
    width: 100%;
    padding: 15px;
}
.nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.div-log-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-nav{
    width: 60px;
    margin-right: 10px;
    filter: drop-shadow(8px 8px 8px rgba(255, 0, 0, 0.9));
}
.name-logo-nav{
    font-size: 25px;
    color: darkblue;
}

.ul-nav{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    border-radius: 15px;
}
.li-nav{
    font-size: 20px;
    color: black;
    background-color: rgba(77, 104, 255, 0.785);
    padding: 10px 15px;
    cursor: pointer;
    transition: all .3s ease;
}
.li-nav:first-child{
    border-radius: 10px 0 0 10px;   
}

.li-nav:last-child{
    border-radius: 0 10px 10px 0;   
}

.li-nav:hover{
    color: darkred;
    background-color: bisque;
}

.li-nav a{
    text-decoration: none;
    color: inherit;
}
