@font-face {
    font-family: 'Fuente-comida'; /* Nombre de la fuente */
    src: url('./FoodDelight/FoodDelight.ttf') format('ttf'), /* Ruta a tu fuente en formato WOFF2 */
         url('./FoodDelight/FoodDelight.otf') format('otf'); /* Ruta a tu fuente en formato WOFF */
    /* Puedes agregar otras fuentes aquí para diferentes formatos si es necesario */
}

:root{
    --naranja: #FF914D;
    --azul: #3f67d4;
    --azul-hover: #5279e6;
    --azul-select: #1d52e4;
}   

* {
    margin: 0;
    padding: 0;
    font-family: 'Fuente-comida', sans-serif; /* Nombre de la fuente */
}





.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.btn-iniciar{
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: end;
}



.btn-iniciar .btn, .btn-carrito {
    background-color: var(--azul);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 5px gray;
}




.btn-carrito{
    border-radius: 50%;
    position: fixed;
    bottom:25px;
    right: 15px;
    padding:8px 10px;
    z-index: 1000;
    cursor: pointer;
    scale: 1.3;
}

.btn-carrito .material-symbols-outlined{
    transition: all 0.5s;
}

.btn-carrito:hover .material-symbols-outlined{
    transform: rotate(-20deg);
}


.btn-iniciar .btn:hover{
    cursor: pointer;
    background-color: var(--azul-hover);
}

.pedido-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    top:0;
    right: -100%;
    z-index: 2000;
    display: flex;
    justify-content: end;    
    transition: right 0.5s ease, background-color 0.2s ease;
}

.pedido-container .content{
    width: 370px;
    background-color: #f8f7f7;
    border-left: 5px solid var(--azul);
    border-top: 5px solid var(--azul);
    border-radius: 15px 0 0 15px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.pedido-container .content .header-carrito{
    padding-top: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.pedido-container .content .header-carrito .material-symbols-outlined{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 30px;
}

.pedido-container .content .header-carrito h3{
    font-family:  'Raleway', sans-serif;
    margin-left: 30px;
}

.pedido-container .content .material-symbols-outlined:hover{
    color: var(--azul);
    cursor: pointer;
}

.pedido-container .content .items-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.pedido-container .content .items-list .item-pedido{
    width: 95%;
    border: 1px solid var(--azul);
    border-radius: 3px;
    margin-bottom: 5px;  
    display: flex;
    box-sizing: border-box;  
    background-color: #3f67d413;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    flex-wrap: wrap;
}  

.pedido-container .content .items-list .item-pedido .no-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 6px;
    box-sizing: border-box;
    margin-right: 5px;
    height: 100%;
    background-color: var(--azul);
    color: #fff;
}

.pedido-container .content .items-list .item-pedido img{
    padding: 4px 0;
    width: 55px;
    border-radius: 50%;
}


.items-list .item-pedido .info-item{
    padding-left: 10px;
    min-width: 130px;
    overflow: hidden;
}
.items-list .item-pedido .info-item
.precio::before{
    content: "S/";
    color: var(--azul);
    font-weight: bold;
    font-size: 15px;
}

.items-list .item-pedido .info-item
.precio{
    font-size: 15px;
}

.items-list .item-pedido .info-item
.detalles-enlace{
    text-decoration:underline;
    font-size: 12px;
    color: var(--azul);
    font-family: 'Fuente-comida', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;    
}


.items-list .item-pedido .info-item
.detalles-enlace:hover{
    color: var(--azul-hover);
    cursor: pointer;
}
.items-list .item-pedido .btns-item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.items-list .item-pedido .btns-item
.btns-cant{
    display: flex;
    margin-bottom: 5px;
}


.items-list .item-pedido .btns-item
.btns-cant button .material-symbols-outlined{
    font-size: 13px;
    color: #fff;;
}
.items-list .item-pedido .btns-item
.btns-cant button,
.items-list .item-pedido .btns-item
.btns-cant input {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--azul);
}

.items-list .item-pedido .btns-item
.btns-cant button,
.items-list .item-pedido .btns-item
.eliminar{
    background-color: #3f67d4;
    color: white;
}

.items-list .item-pedido .btns-item
.btns-cant button:hover{
    background-color: #527ae9;
}


.items-list .item-pedido .btns-item
.btns-cant button{
    cursor: pointer;
}

.items-list .item-pedido .btns-item
.btns-cant button.menos{
    border-radius: 5px 0 0 5px;
}


.items-list .item-pedido .btns-item
.btns-cant button.mas{
    border-radius:  0 5px 5px 0;
}

.items-list .item-pedido .btns-item
.btns-cant input {
    box-sizing: border-box;
    padding-left: 6px;
}

.items-list .item-pedido .btns-item
.eliminar{
    width: fit-content;
    height: 24px;
    border: none;
    border-radius: 2px;
    padding: 2px;
}

.items-list .item-pedido .btns-item
.eliminar .material-symbols-outlined{
    font-size: 20px;
}

.items-list .item-pedido .btns-item
.eliminar:hover{
    background-color: #527ae9;
}
.items-list .item-pedido .btns-item
.eliminar:hover .material-symbols-outlined{
    color: #fff;
}


@media  (max-width: 600px) {
    .pedido-container .content{
        width: 85%;
    }
}

@media  (min-width: 600px) {
    .items-list .item-pedido .info-item
    .precio,
    .items-list .item-pedido .info-item
    .precio::before,
    .items-list .item-pedido .info-item
    .detalles-enlace{
        font-size: 16px;
    }
    .items-list .item-pedido .info-item
    h5{
        font-size: 16px;
    }
}

.left-logo{
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo{
    width: 230px;
}

.nav-header .menu-nav ul{
    list-style: none;
    display:flex;
    justify-content: center;
}

.nav-header .menu-nav ul li{
    margin-inline: 5px;
}

.nav-header .menu-nav ul li a{
    text-decoration: none;
    color: var(--naranja);
    font-family:  "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.nav-header .menu-nav ul li a.active{
    text-decoration: underline;
}

.buscador-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 5px;
}
.buscador-container .buscador{
    display: flex;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}

.buscador-container .buscador input[type="text"]{ 
    width: 70%;
    padding: 5px 10px;
    margin: 0;
    border: 2px solid var(--azul);
    border-right: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    font-size: 17px;
}
.buscador-container .buscador input[type="submit"]{ 
    width: fit-content;
    padding: 5px 10px;
    margin: 0;
    border: 2px solid var(--azul);
    background-color:var(--azul);
    font-size: 17px;
    border-radius: 0 8px 8px 0;
    color: var(--naranja);
    font-weight: bold;
}

.buscador-container .buscador input[type="submit"]:hover{
    background-color: var(--azul-hover);
    cursor: pointer;
}

.filtros {

    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.filtros label{
    font-family: 'Fuente-comida', sans-serif;
}

.filtros .filtro{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.filtros .filtro label{
    margin-right: 5px;
}

.filtros .filtro > p{
    margin-inline: 5px;
}

.filtros .filtro input {
    margin-right: 5px;
}

.filtros .filtro select{
    border-radius: 5px;
    border: 1px solid var(--azul-select);
    color: var(--azul-select);
    box-shadow: 0 0 5px;
    outline: none;
    padding: 2px 4px;
}

.separador-filtros{
    margin-inline: 10px;
    color: var(--naranja);
}

.separador-filtros  .separador-filtros{
    margin: 0px;
}


.cards-container{
    width: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.card-item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--naranja);
    width: 270px;
    height: 270px;
    margin: 5px 10px;
    margin-bottom: 80px;
    border-radius: 15px;

    box-shadow: 0 0 30px 5px gray;
    padding-top: 110px;
}

.card-item .plato-img{
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    top:-50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item .plato-img img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    cursor: pointer;
}

.card-item .plato-img img:hover{
    scale:  1.1;
}

.card-item h3{
    font-size: 22px;
    margin-top: 15px;
    color: black;
    font-family: 'Fuente-comida', sans-serif;
}

.card-item .precio::before{
    content: "S/";
    color: var(--azul);
    font-weight: bold;
    font-size: 22px;
}

.card-item .precio{
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.card-item .detalles-enlace{
    text-decoration:underline;
    font-size: 16px;
    color: var(--azul);
    font-family: 'Fuente-comida', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    transition: all 0.3s;
    
}


.card-item .detalles-enlace:hover{
    color: var(--azul-hover);
    cursor: pointer;
    padding-top: 4px;
    margin-bottom: 16px;
}


.card-item .btn-añadir-shoppingcar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--azul);
    border-radius: 5px;
    padding: 3px;
    color: var(--naranja);
    font-weight: bold;
    font-family: 'Fuente-comida', sans-serif;
    transition: all 0.5s;
}

.card-item .btn-añadir-shoppingcar:not(span){
    font-size: 14px;
}

.card-item .btn-añadir-shoppingcar:hover{
    background-color: var(--azul-hover);
    cursor: pointer;
}

.card-item .btn-añadir-shoppingcar .material-symbols-outlined{
    transition: all 0.5s;
}

.card-item .btn-añadir-shoppingcar:hover .material-symbols-outlined{
    margin-right: 8px;
    transform:translateY(2px) rotateZ(45deg);
}

